<!DOCTYPE html>
<html>

<head>
         <script src="https://www.w3schools.com/lib/w3.js"></script>
        <script src="https://www.w3schools.com/lib/w3.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDEkgUR6L_Ord-IsyqHbme6jMzTNSA-msE'></script>
        <!-- <script src="./ctrl/custCtrl.js"></script> -->
        <!-- <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places">   -->
            <link rel="stylesheet"  href="\stylesheets\mystyle.css" type="text/css">
        </script>  
      
</head>

<!-- <body ng-app="clientRegister" ng-controller="custControl"> -->



    


    <div w3-include-html="\html\header.html"></div>

    <script>
        w3.includeHTML();
    </script>
    <br>
    <!-- <div id="upleft">
         -->


        <!-- <div w3-include-html="\html\header1.html"></div> -->

        <script>
            w3.includeHTML();
        </script>
    </div>
    <!-- <div id="upright"> -->

        <h2>SERVE ON ALERT</h2>

        
        <p>
                There are many incidents where we faced in our daily life that ambulance service has not fulfilled the complete requirement for a common man. Hence we came with an idea of building an application, where any doctor who is licensed can register themselves to help public in a particular city. If someone met with an accident or any critical medical emergency, by using this application, an alert can be sent to nearby doctors requesting for their help and the nearest doctor who accepts the request will be coming to the accident/requested location to serve.
                <br><br><br><br><br>
                <b>Requirements:</b><br><br>
                1.	Location of patient <br>
                2.	Real time data of doctors<br><br><br><br><br><br>
                <b>Features:</b><br><br>
                1.	Medical license validation of registered doctors.<br>
                2.	Sends alert messages (online/offline) to all doctors around accident/required location.<br>
                3.	Incase if multiple doctors accept the request, nearest doctor will be selected to serve.<br>
                4.	Once the doctor is selected, acknowledgement will be sent to requester with the details of the doctor.<br>
                <br><br><br><br><br><br><b>Extension:</b><br><br><br>
                1.	Registered doctors can also serve for free for the people in rural areas on phone/online and get the prescription done.<br>
                2.	Images of symptoms can be shared with doctor for further clarity on severity of disease.<br>
                
        </p>
        </div>

        <script>
            
        </script>
    </div>

    <div id="footer">
        <p>

        </p>
    </div>
    </div>
</body>

</html>